---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="ProjectNex | Under Construction">
	<main>
        <h1>This page is under construction</h1>
	</main>
</Layout>
